
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;1,300&display=swap');

body {
    
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient( 45deg, #557B83, #39AEA9, #A2D5AB, #E5EFC1 );
    background-size: 300%, 300%;
    animation: colors 15s ease infinite;
    font-family: 'Red Hat Mono', cursive;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.pagina {

    border-style: solid;
    border-width: 5px;
    border-color: rgba(34, 179, 247, 0.404);
    padding: 20px;
    max-width: 768px;
    margin: auto;
}

.topo {

    border-style:double;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0);
    padding: 10px;

}

.navegacao {

    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.navegacao a {

    font-family: 'Inspiration', cursive, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color:  rgba(34, 179, 247, 0.404);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    width: calc(25% - 10px);
    float: left;
}

.resumo {

    border-style:double;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

}

.card{

display: flex;
justify-content: flex-start;
border-width: 5px;
border-color:  rgba(226, 232, 235, 0.404);
border-style:double;
border-radius: 10px;
gap: 25px;
padding: 10px;
width: calc(25% - 10px);
float:left;
background-color: rgba(34, 179, 247, 0.404);
height: 250px;
width: 160px;

}

.cartao__corpo {

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;

}

.titulo {

    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
}

.descricao {

    color: rgb(19, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;  
    margin-top: 20px ;
}

.video{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 350px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    position: center;
}

.direitosAutorais {
    font-family: Arial, sans-serif;
    border-style:double;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}